name: Publish release

on:
  workflow_dispatch:
  release:
    types:
      - published

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
  HUSKY: 0

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Get Release Tag
        id: tag
        run: |
          echo "TAG_NAME=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/'

      - uses: oven-sh/setup-bun@v2

      - name: Running tests
        run: bun run test

      - run: bun publish
        env:
          NODE_AUTH_TOKEN: ${{ env.NODE_AUTH_TOKEN }}
